header img {
    width: 202px;
    margin: 10px 0;
}

header {
    width: 375px;
    position: absolute;
    top: 0%;
    height: 60px;
    left: 0;
    border-bottom: solid 5px #F58888;
    background-color: #FCF2DC;
    padding: 0;
}

.video-upload {
    text-align: center;
    font-size: 28px;
    margin-top: 80px;
}

.video-upload p {
    font-size: 28px;
}


.video-upload img {
    width: 100%;
}


.new-class {
    display: none;
}

.videoModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.uploadbtn {
    width: 150px;
    margin: 20px;
    height: 40px;
    font-size: 25px;
    background-color: #FFE39A;
    color: #E08213;
    border: 2px solid #E08213;
    border-radius: 1rem;

}

.modal-cont {
    background-color: #FCF2DC;
    padding: 20px;
    height: 200px;
    border-radius: 8px;
    margin-top: 50px;
    text-align: center;
}

.modal-cont p {
    background-color: #FCF2DC;
    font-size: 20px;
}

.confirmBtn {
    background-color: #FCF2DC;
    display: flex;
    justify-content: center;
}

.videoModal button {
    width: 80px;
    height: 40px;
    margin: 15px;
    padding: 8px 16px;
    font-size: 25px;
    background-color: #FFE39A;
    color: #E08213;
    border: 2px solid #E08213;

}